h1 {
  text-align: center;
}
article {
  background-color: grey;
  border-style: solid;
  width: 30%;
  display: inline-block;
  margin-left: 1%;
  margin-bottom: 1%;
  box-sizing: border-box; /* iskaiciuoja remeli i elemento ploti */
}
.preke-1 {
  background-color: pink;
  float: right;
  width: 20%;
  /* padding: 5px 15px; */
  margin-top: 0px;
  text-align: center;
  border-color: black;
  border-bottom: solid;
  border-left: solid;
}
.preke-2 {
  background-color: red;
  float: right;
  width: 20%;
  /* padding: 5px 15px; */
  margin-top: 0px;
  text-align: center;
  color: white;
  border-bottom: solid;
  border-left: solid;
  border-color: black;
}
.preke-3 {
  background-color: yellow;
  float: right;
  width: 20%;
  /* padding: 5px 15px;  */
  margin-top: 0px;
  text-align: center;
  border-color: black;
  border-bottom: solid;
  border-left: solid;
}
.p {
  /* padding-top: 30px; */
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
/* Tabletams ir NoteBook (9") */
@media (max-width: 992px){
  article {
    width: 48.5%;
  }
  .sushi {
    width: 98%;
    margin-top: 1%;
  }
}
/* iki Tabletu (9") */
@media (max-width: 768px) {
  article {
    width: 98%;
  }
}
