h1 {
    color: red;
}

h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}


.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

header {
    background-color:black;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 

}
.eilute {
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
    background-color:white;
    display: flex;
    justify-content: flex-end;
}
 .eilute-gallery {
    list-style-type: none;
    margin-right: 300px;
    padding: 0;
    background-color:grey;    
    display: flex;
    justify-content: flex-end;
  }
/* logo menu juostoje */
header img {
    height: 50px;
    padding-top: 10px;
}
li {
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}

li a:hover {
    background-color: none;
    text-decoration: underline overline;
    color: #333; 
}

/* pagrindinio paveikslas */
.home-img {
    width: 100%;
    height: auto;
}

footer{
    font-family: 'Montserrat', sans-serif; 
    height: 150px;
    color: azure;
    background-color: black;
}

.kontaktai{
    height: 100px;
    align-content: center;
    font-size: 10px;
    color: azure;
    background-color: #333;
    margin-top: 10px;
    padding-top:15px;
}

footer img {
    height: 15px;
    margin-right: 20px;
}
 
.apacios-eilute {
    height: 50px;
    margin-top: 20px;
}

h6{
    font-family: Montserrat, sans-serif;
    line-height: 20px;
    size: 13px; 
    letter-spacing: 5px;
    font-weight: bold;
}
footer.h6{
    font-family: Montserrat, sans-serif;
    line-height: 20px;
    size: 13px; 
}
footer p{ 
    font-family: 'Montserrat', sans-serif; 
    font-size: 10px;
    margin-top: 0;
}

.centravimas {
    justify-content: center;
    display: flex;
}

.card {
    width:23%;
    height: auto;
    display: inline-block;  
    flex-wrap: wrap;
    margin: 5px;
    justify-items: flex-start; 
    margin-right: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px; 
}

/* div.desc {
    padding: 3px;
    text-align: center; */
/* } */

main {
    margin-top: 150px;
    margin-bottom: 10px;
}

div.menu2 {
    /* background-color: blue; */
    display: inline;
}

.apie-mane-foto {
    height: 500px;
    width: auto;
    padding-left: 17px;
    /*sulygiavau prie menu juostos*/
 }

/* /* .kontaktai img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: auto; */

*/
