* {
    box-sizing: border-box;
}

body {
    background-color: #fff59d;
}

section {
    float: left;
    width: 30%;
    height: auto;
    min-height: 300px;
    background-color: #ffe97d;
    margin: 1%;
    border: #000000 solid 1px;
}

.m1 {
    width: 150px;
    background-color: #c43e00;
    color: #ffecb3;
    float: right;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    border-left: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

.m2 {
    width: 150px;
    background-color: #c41c00;
    color: #ffccbc;
    float: right;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    border-left: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

.m3 {
    width: 150px;
    background-color: #dd2c00;
    color: #ffd0b0;
    float: right;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    border-left: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

p {
    padding: 20px;
    padding-top: 60px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #870000;
    text-align: center;
}

/* media */

@media(max-width:768px){
    .s_01 {
        float: left;
        width: 40%;
        height: 300px;
        margin: 5%;
    }

    .s_02 {
        float: left;
        width: 40%;
        height: 300px;
        margin: 5%;
    }

    .s_03 {
        float: left;
        width: 90%;
        height: 100px;
        margin: 5%;
    }
}

@media(max-width:320px){
    .s_01 {
        float: left;
        width: 90%;
        height: 200px;
        margin: 5%;
    }

    .s_02 {
        float: left;
        width: 90%;
        height: 200px;
        margin: 5%;
    }

    .s_03 {
        float: left;
        width: 90%;
        height: 200px;
        margin: 5%;
    }
}