h1 {
    color: #ff0000;
}

.pilkas-fonas {
    background-color: #c0c0c0;

}

section .plotis-50 {
    width: 45%;

}

.aukstis-200 {
    min-height: 200px;
}

p {
    text-align: center;
    font-style: oblique;

}

article h2 {
    font-size: 3rem;

}

h2:hover {
color:white;
background-color: black;

}