*{
  box-sizing: border-box;

}

h1 {
    color: red;
}

article {
  padding-left: 10px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 20px;


  background-color: #c1c1c1;
  width: 32%;
  border: 2px solid #000;
  margin-left: 1%;

  float: right;
}
h2 {
  float: right;
  text-align: center;
  width: 32%;
  margin-top: 0;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000
}
.spalva{
  background-color: #7545;
}
.spalva1{
  background-color: pink;
}
.spalva2{
  background-color: red;
}
p{
  padding-top: 20px;
  text-align: center;
  margin: 3%;
}
.spalva_balta{
  color: white;
}
h2{
  position:relative;
  top:3px;
  right: 5px;
}
