* {
    box-sizing: border-box;
}
h1 {
    color: red;
}
h2 {
    /* elemento perkelimas i sona */
    position: absolute;
    top: 0;
    right: 0;
    /* top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */

    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    margin-top: 0;
    padding: 10px 30px;
}
p {
        /* margin: 50px 10px 20px 10px; */
}

article {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 20px;


    /* padding: virsus  desine apacia kaire */
    /* padding: 30px 10px 20px 10px; */
    /* padding: virsus-apacia    sonai */
    /* padding: 30px 10px; */

    position: relative;
    background-color: #c1c1c1;
    width: 32%;
    border: 10px solid #000;
    margin-left: 1%;
    float: left;
}

/* ----------- TABLETS and NOTEBOOKS------------ */
@media (max-width: 992px) {
.product-1 {
  width: 48.5%;
}
.product-2 {
  width: 48.5%;
}
.product-3 {
  width: 98%;
  margin-top: 1%;
}
}


/*------- END TABLETS ------------  */

/*  */
@media (max-width: 767px) {
  .product-1 {
    width: 98%;
  }
  .product-2 {
    width: 98%;
    margin-top: 1%;
  }
  .product-3 {
    width: 98%;
    margin-top: 1%;

}

@media (max-width: 576px) {


}
