<<<<<<< HEAD
=======
lygiavimas-
>>>>>>> 71d0666f7a6e61ab50ddcde1192512dea01283ff


.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

<<<<<<< HEAD
.mygtuko-pastatymas {
    display: flex;
  align-items: center;
  justify-content: center;
}

=======
.miskas {
    height: 100px;
}
>>>>>>> 71d0666f7a6e61ab50ddcde1192512dea01283ff
