<<<<<<< HEAD
lygiavimas-
=======
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
>>>>>>> 0f0a3bb715f176c7d62741d9068fa9ddad9a7716
