* {
    box-sizing: border-box;
}

.header {
    background-color: #b0bec5;
    width: 80%;
    height: 70px;
    margin-top: 20px;
}

.logo {
    float: left;
    margin: 10px;
}

.meniu {
    float: left;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.meniu ul {
    display: inline-block;
    margin: 0px;
}

.meniu ul li {
    display: inline;
    text-decoration: none;
    color: #808e95;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border: #000000 solid 1px;
}