h1 {
    color: red;
}
.plotis-45 {
    width: 45%;
}
.plotis-30 {
    width: 30%;
}
.fonas-green {
    background-color: green;
}
.fonas-pink {
    background-color: pink;
}
.fonas-red {
    background-color: red;
}

article {
    float: left;
}




/*  */
