h1 {
  color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-red {
  background-color: red;
}
.bg-white {
  background-color: white;
}
div {
  width: 10%;
  height: 100%;
  border-radius: 50px ;
  border-style: solid;
  display: inline-block;
  text-align: center;
}
