  h1 {
    color: red;
    font: arial;
  }
section .plotis-50 {
width: 45%
}
.plotis-50 {width: 50%;
}

.fonas-pilkas {background-color: #f1f1f1;
}

.aukstis-200 { min-height: 200px;
}

p {
    font-size: 12px;
    text-align: center;
}
article h1 {
  font-size: 30px;
}
h1:hover {
  color: white;
  background-color: black;
}
