article {
  display:inline-block;
  border-color: green;
  border-style:solid;
  text-align:center;
  font-size: 50px;
  width: 30%;
  height: 200px;
}
.fonas-blue {
  background-color: blue;
}
.fonas-yellow {
  background-color: yellow;
}
.fonas-red {
  background-color: red;
}
