* {
    box-sizing: border-box;
}
h1 {
    color: red;
}
h2 {
    /* elemento perkelimas i sona */
    position: absolute;
    top: 0;
    right: 0;
    /* top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */

    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    margin-top: 0;
    padding: 10px 30px;
}
p {
        /* margin: 50px 10px 20px 10px; */
}

article {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 20px;


    /* padding: virsus  desine apacia kaire */
    /* padding: 30px 10px 20px 10px; */
    /* padding: virsus-apacia    sonai */
    /* padding: 30px 10px; */

    position: relative;
    background-color: #c1c1c1;
    width: 32%;
    border: 10px solid #000;
    margin-left: 1%;
    float: left;
}

/* tabletam iki notebook mazdaug iki 9 coliu ekranu*/
@media (max-width:992px) {
    .pirma-preke {
        width: 49%;
    }
    .antra-preke {
        width: 49%;
    }
    .trecia-preke {
        margin-top: 5px;
        width: 99%;
    }
}

/* mazi telefonai */
@media (max-width:425px) {
    
    .pirma-preke {
        width: 99%;
        
    }
    .antra-preke {
        margin-top: 1%;
        width: 99%;
    }
    .trecia-preke {
        margin-top: 1%;
        width: 99%;
    }

}
