* {
  box-sizing: border-box;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.aukstis-600 {
    height: 600px;
  }
.img-1 {
  width: 4%;
  float: left;
  margin-top: 15px;
}
.antraste {
  text-align: center;
}
.virsus {
  padding-top: 70px;
}
.centras {
  padding-top: 170px;
}
.apacia {
  padding-top: 220px;
}
.reklama {
  padding-left: 0;
  padding-right: 0;
}
.reklama .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.reklama .btn:hover {
  background-color: black;
}
.img-rounded {
  border-radius: 50%;
  position: absolute;
  right: 35%;
  top: 10%;
}
header li {
  list-style-type: none;
  float: left;
  margin-left:  30px;
  font-size: 30px;
  margin-top: 10px;
}
.img-2 {
  float: right;
  margin-right: -15px;
  margin-top: -16px;
  width: 9%;
}
/* --------------------- JUSTINO CSS --------------------- */
p {
  border: solid 2px
  align-items: flex-end;
  justify-content: center;
}
/* ------NAV-------- */
nav {
    width: 60%;
    height: 100px;
}
    nav ul {
        padding-top: : 0;
    }
        nav li {

            list-style-type: none;
            width: 30%;
            text-align: left;
            margin: 0px;
        }
/* ------END   NAV----- */
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.imgj {
  width: 100%;
  height: 100%;
}
.log1 {
  width: 10%;
}
.log2{
  /* border: solid 1px; */
	margin-right: -15px;
  float: right;
  height: 75%;
	width: 50%;
}
.float {
float: none;
width: 30%;
}
.clear-fix {
  clear:both;
  content: "";
}
.wrapper {
  /* automatinis aukstis */
  overflow: hidden;
}
.remelis {
  border: solid 2px
}
.img{
	height: 150px;
  width: 150px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFPzuOBaSIU1DHS-eEJ98SzED6apDjseBS6aDqWP1_-c9yB_WC);
  background-color: #555;
  background-position: bottom 200px center;
  border-radius: 50%;
  margin: 5px auto;
}
