* {
  box-sizing: border-box;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.aukstis-600 {
    height: 600px;
  }
header {
  background-color: black;
  width: 100%;
  height: 100px;
  text-align: center;
}
.img-1 {
  width: 4%;
  float: left;
  margin-top: 15px;
}
.antraste {
  text-align: center;
}
.virsus {
  padding-top: 70px;
}
.centras {
  padding-top: 170px;
}
.apacia {
  padding-top: 220px;
}
.reklama {
  padding-left: 0;
  padding-right: 0;
}
.reklama .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.reklama .btn:hover {
  background-color: black;
}
.img-rounded {
  border-radius: 50%;
  position: absolute;
  right: 35%;
  top: 10%;
}

li {
  list-style-type: none;
  float: left;
  margin-left:  30px;
  font-size: 30px;
  margin-top: 10px;
}
.img-2 {
  float: right;
  margin-right: -15px;
  margin-top: -16px;
  width: 9%;
}
