h1 {
  color: black;
  text-align: center;
  font-family: 'Marck Script', cursive;
}

h2 {
  text-align: center;
  position: absolute;
  transform: translate (50%, -50%);
  border:
 right: 0;
  top: 0;
}

p {
text-align: left;

}
.topnav {
  width: 90%;
  height: 50px;
  background-color: #cc3399;
  padding: 10px;
  margin: 5%;
}

li {
  float: left;
  list-style-type: square;
  margin: 1px;
  padding: 10px;
}

.main {
  float: left;
  width: 70%;
  margin-left: 1%;
  border: 1px solid black;
  background-color: white;
  position: relative;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.related {
  float: left;
  width: 24%;
  margin-left: 1%;
  border: 1px solid black;
  background-color: #cc3399;
  position: relative;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 2px;
}

/* .body {
  color: light grey;
  } */

* {
  box-sizing: border-box;
}



}

.clearfix {
  clear: both;
  content: "";
}
}
